
.cart-list {
  border-bottom: 1px solid skyblue;
}

.cart-item {
  display: flex;
  border: 1px solid skyblue;
  padding: 10px;
  border-bottom: 0px solid #000;
}

.cart-item > .left {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.media img {
  width: 100px;
  height: 100px;
}

h1 {
  text-align: center ;
  font-size: 50px;
  color: green;
}
h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

p {
  font-size: 20px;
  color: red;
}
.container div>h1 .span1{
  color: blue;
  font-size: 50px;
  font-family: '楷体';
} 
.container div>h1 .span2{
  color: red;
  font-size: 50px;
  font-family: '楷体';
} 
/*左边 按钮 */
.storeBtn{
  position: fixed;
  left: 50px;
  top:50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  width: 50px;
}

.storeBtn>ul{
  width: 100%;
}

.storeBtn>ul>li{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.storeBtn .btn-primary{
  font-size: 25px;
}