*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: blue;
    /* opacity: 0.6; */
}
.box{
    width: 100%;
    height: 100%;
    background: url(../images/login.jpg) no-repeat 100% center;
}
.main{
    width: 480px;
    height: 560px;
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    right: 139px;
    top:100px;
    border-radius: 15px;
}
.main .top{
    padding: 30px 0 20px 30px;
}
.main .top h3{
    font-size: 36px;
}
.main .top p{
    font-size: 14px;
    opacity: 0.6;
}
.main .center{
    padding: 10px 0 20px 30px;
    font-size: 14px;
}
.main .center .name{
    width: 340px;
    height: 40px;
    margin: 10px 0 10px 20px;
    border-radius: 5px;
    border: 1px #999 solid;
    padding: 0 0 0 10px;
}
.main .center>.pwd1{
    width: 340px;
    height: 40px;
    margin: 10px 0 10px 10px;
    border-radius: 5px;
    border: 1px #999 solid;
    padding: 0 0 0 10px;
}

.main .center .vc{
    width: 206px;
    height: 40px;
    margin: 10px 15px 10px 20px;
    border-radius: 5px;
    border: 1px #999 solid;
    padding: 0 0 0 10px;
}
.main .center .s1{
    display: inline-block;
    width: 122px;
    height: 42px;
    background-color: #fff;
    border: 1px #999 solid;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    bottom: 138px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
}

.main .center button{
    width: 400px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    border-radius: 25px;
    background-color: #BDCEFC;
    border: none;
    color: #fff;
    font-size: 16px;
}
.main .center>.p1{
    font-size: 12px;
    margin-top: 15px;
    text-align: center;
}
.main .center>.small{
    width: 13px;
    height: 13px;
}